@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

body {
  margin: 0;
  background-color: #e0e2db;
  font-family: "montserrat";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #003049;
  padding: 3rem;
  border-radius: 2rem;
}

h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

#count-el {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 20%;
  border: 2px dotted white;
  text-align: center;
  padding: 1rem;
}

h3 {
  font-size: 1.4rem;
}

button {
  border: none;
  font-size: 1.3rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  width: 200px;
  margin: 1rem;
  border-radius: 1rem;
}

#button-add-sub {
  display: flex;
  justify-content: center;
}

#increment-btn {
  background: #118ab2;
}

#decrease-btn {
  background: #ffd166;
}

#save-btn {
  background: #2a9d8f;
}

#save-el {
  margin: 0 auto;
  max-width: 20%;
  flex-wrap: wrap;
  font-size: 1.3rem;
  color: #22333b;
}

#reset-btn {
  margin-top: 2rem;
  background: #8d99ae;
}

button:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
